# Data Extraction

In [46]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import re
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import json
import pyproj

## Connection to local SQL DB

In [2]:
conn = pymysql.connect(
            host="localhost",          # Your host name
            user="root",      # Your username
            password="admin",  # Your password
            database="property_info_db"   # Your database name
        )

### Create SQL engine

In [3]:
engine = create_engine("mysql+pymysql://root:admin@localhost/property_info_db")

## Importing Data

In [ ]:
# Define the SQL query
query = """
SELECT * FROM property_info_db.london_properties
WHERE property_id > 57860
ORDER BY property_id;
"""

df_raw = pd.read_sql(query, engine)

In [ ]:
df_raw.tail()

In [ ]:
df_raw.shape

In [ ]:
df_raw.iloc[0, :]

### Geocoding addresses

In [ ]:
df_address = df_raw[['property_id','address', 'postcode']].copy()

# Remove postcode from address
# df_address['address'] = df_address.apply(lambda row: row['address'].replace(row['postcode'], ''), axis=1)
# df_address.to_excel('./Data/london_addresses.xlsx', index=False, engine='openpyxl')
# df_address_2 = df_address[df_address["property_id"] > 25170]
# df_address_2

df_address

In [ ]:
test = df_raw.loc[0, "address"].strip()
test

def geocode_address(address):
    geolocator = Nominatim(user_agent="geoapiExercises")
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

lat, lon = geocode_address(test)
print(lat, lon)

In [ ]:
# geocoding
with conn.cursor() as cursor:
    
    # Create table if it doesn't exist
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS geocoded_addresses (
        property_id INT PRIMARY KEY,
        address VARCHAR(255),
        postcode VARCHAR(50),
        city VARCHAR(200),
        latitude FLOAT(10, 6),
        longitude FLOAT(10, 6)
    )
    ''')
    conn.commit()

    geolocator = Nominatim(user_agent="geoapiExercises")
    city = "london"
    # Using RateLimiter to ensure a delay between consecutive requests
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

    def geocode_address(row):
        try:
            location = geocode(row['address'].strip())
            if location:
                lat, lon = location.latitude, location.longitude
            else:
                lat, lon = None, None

            # Save to MySQL database
            cursor.execute('''
                INSERT INTO geocoded_addresses (property_id, address, postcode, city, latitude, longitude)
                VALUES (%s, %s, %s, %s, %s, %s)
            ''', (row['property_id'], row['address'], row['postcode'], city, lat, lon))
            conn.commit()
            return  # Exit the function upon successful execution
        except Exception as e:
            print(f"Error geocoding address {row['address']}: {e}")

    # Apply geocoding and save to the MySQL database
    df_address.apply(geocode_address, axis=1)

### Importing geocoded addresses

In [4]:
query_2 = """
SELECT lp.*, gc.latitude, gc.longitude
FROM london_properties AS lp
JOIN geocoded_addresses AS gc ON lp.property_id = gc.property_id;
"""

query_3 = """
SELECT bp.*, gc_b.latitude, gc_b.longitude
FROM brighton_properties AS bp
JOIN geocoded_addresses_brighton AS gc_b ON bp.property_id = gc_b.property_id;
"""

df_london = pd.read_sql(query_2, engine)
df_brighton = pd.read_sql(query_3, engine)

In [5]:
df_london.head()

,property_id,price,address,house_type,number_of_bedrooms,number_of_bathrooms,number_of_receptions,other_features,tenure,lease_time,...,tax_band,ground_rent,commonhold_details,points_of_interest,listing_features,description_text,property_link,postcode,latitude,longitude
0,1,"£300,000","Ringers Road, Bromley BR1",1 bed flat,1 bed,1 bath,1 reception,650 sq. ft,Leasehold,118 years,...,C,£640 per month,,St Mark's Church of England Primary School\n0....,Leasehold\nAllocated parking\nModern finish\nL...,"** Guide price £300,000 - £325,000 **\n\nThis ...",https://www.zoopla.co.uk/for-sale/details/6275...,BR1,51.401890,0.015865
1,2,"£125,000","Downham Way, Bromley, Kent BR1",studio,,1 bath,1 reception,,Leasehold,82 years,...,B,£250,,"Launcelot Primary School\n0.1 miles,Haberdashe...",Leasehold\n* Perfect residential or investment...,Perfect residential or investment property wit...,https://www.zoopla.co.uk/for-sale/details/6521...,BR1,NaN,NaN
2,3,"£595,000","Rolvenden Gardens, Bromley BR1",3 bed terraced house,3 beds,2 baths,1 reception,,Freehold,,...,E,,,"Breaside Preparatory School\n0.3 miles,Scotts ...",Freehold\nSpacious Reception Room\nLarge Kitch...,An immaculately presented three bedroom mid te...,https://www.zoopla.co.uk/for-sale/details/6520...,BR1,51.411739,0.036798
3,4,"£1,475,000","Upper Park Road, Bromley BR1",7 bed detached house,7 beds,6 baths,3 receptions,,Freehold,,...,G,,,"The Tutorial Foundation (SEN)\n0.1 miles,St Jo...",Freehold\n7 bedrooms\n6 bathrooms (4 ensuite)\...,Ref DT0182. A rare to market and substantial V...,https://www.zoopla.co.uk/for-sale/details/6420...,BR1,51.409714,0.026188
4,5,"£1,499,950","Garden Lane, Bromley BR1",5 bed detached house,5 beds,1 bath,1 reception,,Freehold,,...,G,,,St Joseph's Catholic Primary School\n0.4 miles...,Freehold\nLandscaped Southerly Facing Garden\n...,An exceptional five bedroom detached cottage s...,https://www.zoopla.co.uk/for-sale/details/6520...,BR1,51.416840,0.025992

In [6]:
df_brighton.head()

,property_id,price,address,house_type,number_of_bedrooms,number_of_bathrooms,number_of_receptions,other_features,tenure,lease_time,...,tax_band,ground_rent,commonhold_details,points_of_interest,listing_features,description_text,property_link,postcode,latitude,longitude
0,1,"£300,000","Clyde Road, Brighton BN1",2 bed flat,2 beds,1 bath,1 reception,,Share of freehold,Not available,...,A,Not available,Not available,"London Road (Brighton)\n0.1 miles,Bellerbys Co...",Share of freehold\nTwo-Bedroom First Floor Apa...,Description\n\nA wonderful split-level apartme...,https://www.zoopla.co.uk/for-sale/details/6064...,BN1,50.834835,-0.136658
1,2,"£295,000","North Street, Brighton BN1",1 bed flat,1 bed,,,,Not available,,...,Not available,,,"Middle Street Primary School\n0.1 miles,St Pau...",No Forward Chain\nPassenger Lift\nLocated Next...,Perfect investment property or first time buy!...,https://www.zoopla.co.uk/for-sale/details/6516...,BN1,50.828022,-0.136807
2,3,"£450,000","Crabtree Avenue, Brighton BN1",3 bed terraced house,3 beds,1 bath,2 receptions,,Freehold,,...,C,,,"Carden Nursery and Primary School\n0.3 miles,T...",Freehold\nAttractive 3 Bedroom Family Home Wit...,Summary of accommodation\n\nGround Floor Entra...,https://www.zoopla.co.uk/for-sale/details/6516...,BN1,50.860744,-0.131786
3,4,,,,,,,,,,...,,,,,,,https://www.zoopla.co.uk/for-sale/details/6516...,BN1,NaN,NaN
4,5,"£425,000","Warleigh Road, Brighton BN1",2 bed maisonette,2 beds,1 bath,1 reception,,Leasehold,120 years,...,Not available,Not available,,"London Road (Brighton)\n0.1 miles,Downs Infant...",Leasehold\n2 Double Bedrooms\nNo Onward Chain\...,Avard Estate Agents are pleased to offer for s...,https://www.zoopla.co.uk/for-sale/details/6516...,BN1,50.834766,-0.135156

## Saving Data

In [35]:
df_brighton.to_csv('./Data/brighton_data_raw.csv', index=False)

In [36]:
df_london.to_csv('./Data/london_data_raw.csv', index=False)